@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }

  .section-container {
    margin-top: 100px;
  }

  #experience {
    margin-top: 150px;
  }
}

@media screen and (max-width: 1348px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile {
    margin-bottom: 12rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 1155px) {
  #medix-ai-img {
    object-position: left;
    height: auto;
   }
 
   #qr-bot-img {
    object-position: center;
    height: auto;
   }
}


@media screen and (max-width: 747px) {
  .contact-icon {
    width: 25px;
    height: 25px;
  }
  #grid-projects {
    grid-template-rows: 1;
    grid-template-columns: 3;
  }
  #project-1 {
    grid-column: 1;
  }

  #medix-ai-img {
   object-position: left;
   height: auto;
  }

  #qr-bot-img {
   object-position: center;
   height: auto;
  }
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-upper-container {
    /* flex-direction: column;
    align-items: flex-start; */
    gap: .75rem;
    padding: 1rem;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}

@media (max-width: 600px) {
  .contact-info-upper-container {
    flex-direction: column;
    align-items: flex-start;
    gap: .75rem;
    padding: 1rem;
  }

  #work-history-container {
    width: 80%
  }

  /* .about-containers {
    flex-direction: column;
  } */
}


@media (max-width: 566px) {

  .about-containers {
    flex-direction: column;
  }

  #experience {
    margin-bottom: 3rem;
  }

  #about {
    margin-top: -5rem;
  }

  #about-me-title {
    margin-bottom: -3rem;
  }
}

/* @media (max-width: 410px) {
  #about {
    margin-top: -5rem;
  }
} */